.settings-icon {
    margin-right: 10px;
    font-size: 16px;
    color: #1890ff;
}

.accounts-settings {
    >form>.ant-card:not(:last-child) {
        margin-bottom: 20px;
    }
    .ant-collapse-borderless {
        background: none;
    }
    .ant-collapse-item,
    .ant-collapse-borderless>.ant-collapse-item:last-child {
        background-color: #ffffff;
        border-radius: 4px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .ant-collapse-header {
        font-size: 1.4em;
    }
}