.summary-line-chart .ct-line.ct-threshold-above,
.summary-line-chart .ct-point.ct-threshold-above,
.summary-line-chart .ct-bar.ct-threshold-above {
    stroke: #59922b !important;
}

.summary-line-chart .ct-line.ct-threshold-below,
.summary-line-chart .ct-point.ct-threshold-below,
.summary-line-chart .ct-bar.ct-threshold-below {
    stroke: #f05b4f !important;
}

.summary-line-chart .ct-area.ct-threshold-above {
    fill: #59922b !important;
}

.summary-line-chart .ct-area.ct-threshold-below {
    fill: #f05b4f !important;
}