.transfer-create-form {
    .ant-input-number {
        width: 100%;
    }
    .ant-calendar-picker {
        width: 100%
    }
}

.transfer-switch {
    margin-bottom: 32px;
    .ant-switch {
        margin-left: 10px
    }
    & .transfer-switch-label {
        display: inline-block;
        width: 60px;
    }
    .transfer-expense-toggle {
        background-color: #f5222d;
        &.ant-switch-checked {
            background-color: #1890ff;
        }
    }
}

.recurring-num-periods.ant-input-number {
    width: 50px;
    margin-left: 5px;
}
