.register-steps.ant-steps {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.register-form-button {
width: 100%;
}

.register-welcome {
    & p {
        text-align: center;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.65)
    }
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}