@media screen and (max-width: 1600px) {
    .ct-label.ct-horizontal.ct-end {
        width: 30px !important;
    }
}

@media screen and (max-width: 1200px) {
    .ct-label.ct-horizontal.ct-end {
        width: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .ct-label.ct-horizontal.ct-end {
        width: 30px !important;
    }
}