@charset "UTF-8";
.floating-action-button {
    &.ant-btn-circle.ant-btn-lg {
        width: 60px;
        height: 60px;
        font-size: 28px;
    }
    &.ant-btn {
        position: absolute;
    }
    bottom: 35px;
    right: 35px;
}

.full-width {
    width: 100%
}

.required:before {
    content: "*";
    display: block;
    width: 12px;
    height: 0;
    margin-top: 0;
    margin-left: -12px;
    color: red;
}

.ant-form.auth-form,
.auth-form {
    h1 {
        text-align: center;
        color: rgba(0, 0, 0, .75);
    }
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.spin-center {
    text-align: center;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.result-text {
    text-align: center;
    font-size: 1.5em;
    &:not(a) {
        color: rgba(0, 0, 0, 0.65)
    }
}

a.result-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.underline-input {
    & input {
        border: 0px;
        border-bottom: 1px solid #d9d9d9;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    & .has-error input.ant-input:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    & .ant-form-explain {
        display: none;
    }
}

.underline-number-input {
    & .has-error .ant-input-number {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    & .ant-input-number {
        border: 0px;
        border-bottom: 1px solid #d9d9d9;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    & .has-error .ant-input-number:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.accounts-avatar.ant-avatar {
    cursor: pointer;
    margin: 10px;
}