.layout {
    height: 100vh;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}
  
.trigger:hover {
    color: #1890ff;
}
  
.logo {
    & img {
        height: 44px;
        width: 44px;
    }
    width: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.auth {
    width: 100px;
    margin: 16px 28px 16px 0;
}
  