.menuItem {
    & .icon {
        margin: 0 10px;
    }
    & .text {
        margin-right: 10px;
    }
}

.userDetailsPopMenu {
    margin: -12px -16px;
    & .ant-menu {
        border-right: none;
    }
}