.account {
    &:not(.loading) .ant-card {
        height: 100px;
        .ant-card-meta-title {
            margin-bottom: 2px;
            .owner {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    & a:focus {
        text-decoration: none;
    }
    margin-bottom: 20px;
}

.account.with-owner .ant-card-body {
    padding-bottom: 19px;
}

.new-account-card {
    & .ant-card {
        height: 100px;
        border: 2px dotted #d4d4d4;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.4);
        font-size: 2em;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
    }
    &>div {
        cursor: pointer;
    }
}

.account-name-input {
    & input {
        border: 0px;
        border-bottom: 1px solid #d9d9d9;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    & .has-error input.ant-input:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    & .ant-form-explain {
        display: none;
    }
}

.create-account-name.ant-card {
    & .ant-card-body {
        padding-top: 10px;
        padding-bottom: 18px;
    }
    margin-bottom: 8px;
    & .ant-row.ant-form-item {
        margin-bottom: 0;
    }
}