.account-details-balance {
    margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
    .transfer-list {
        position: relative;
        .ant-tabs-bar {
            margin-bottom: 0;
        }
        .ant-tabs {
            position: absolute;
            height: 100%;
            width: 100%;
            .ant-tabs-content {
                height: 100%
            }
        }
    }
}

.transfer {
    @media screen and (min-width: 992px) {
        height: 65px;
    }
    @media screen and (max-width: 991px) {
        height: 95px;
    }
    @media screen and (min-width: 356px) {
        .ant-list-item-meta-description {
            width: 205px
        }
        .ant-list-item-meta-title {
            width: 205px;
        }
    }
    @media screen and (max-width: 355px) {
        .ant-list-item-meta-description {
            width: 170px
        }
        .ant-list-item-meta-title {
            width: 170px;
        }
    }
    .ant-list-item-meta-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .transfer-description {
        margin-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.recurring-transfer {
    height: 95px;
    .ant-list-item-meta {
        @media screen and (min-width: 992px) and (max-width: 1400px) {
            width: 150px;
        }
        width: 205px;
        h4 {
            width: 205px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.transfer ul.ant-list-item-action,
.recurring-transfer ul.ant-list-item-action {
    margin-left: -10px;
}

.account-details-name {
    margin-bottom: 2px;
    cursor: pointer;
    display: inline-block;
}

.account-name-edit {
    margin-left: 2px;
    color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.account-edit-name-input.ant-input {
    width: calc(100% - 105px);
    font-size: 21px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding: 2px 3px 2px 3px;
    margin-left: -4px;
}

.account-edit-update.ant-btn {
    padding: 5px 3px 2px 3px;
    margin-left: 5px;
    width: 100px;
}

.account-details-actions {
    button {
        margin-bottom: 10px;
    }
}

.transfer-recurring-symbol {
    margin-left: 4px;
    color: #1890ff;
}